<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
    <header>
        <a href="#" class="logo">Recipe Made Simple</a>
        <div class = 'bx bx-menu' id='menu-icon'></div>
        <ul class="navbar">
            <li><a href="#">Home</a></li>
            <li><a href="/Schedule">Schedule</a></li>
            <li><a href="/Account">Account</a></li>
            <li><a href="/Search">Search</a></li>
            <li><a href="#">Connect</a></li>
        </ul>
    </header>

    <section class="home" id="'home">
        <div class="home-text">
            <span>Welcome to Our</span>
            <h1>Recipe <br>Collection!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quae nobis rem, laboriosam dolorem possimus molestias! Commodi libero hic molestiae!</p>
            <a href="#" class="btn">Explore!!</a>
        </div>
        <div class="home-img">
            <img src="images/HomePageFront.png" alt="">
        </div>
    </section>   
</body>
</html>